html {
  color: #222;
  font-size: 1em;
  /*line-height: 1.4;*/
  background-color: #0c0c0c;
}

* {
  color: ghostwhite;
}

header {
  padding: 0;

}

body {
  font-family: IBMPlexSans-Regular, UbuntuRegular, sans-serif;
  padding: 20px;
}

@media only screen and (max-width: 600px) {
  body {
    padding: 8px;
  }
}


h1 {
  color: whitesmoke;
  background-color: #CA4327;
  padding: 8px;
  text-align: center;
  border-radius: 4px 4px 0 0;
  margin-bottom: 0;
}

label {
  display: block;
  margin-top: 10px;
  width: 100%;
}

input, select, button {
  display: block;
  margin-top: 10px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box; /* New addition */
  border: 1px solid #333333; /* Ensures a consistent border style */
  border-radius: 4px; /* Optional: Adds rounded corners to inputs */
  background-color: #222222;
}

button {
  background-color: #CA4327;
  color: white;
  border: none; /* No border for buttons */
  border-radius: 4px; /* Keeps rounded corners */
  cursor: pointer;
}

button:is(:hover, :active) {
  background-color: #BB371E;
}

.outputContainer {
  border-left: 10px solid #CA4327;
  display: none;
  background-color: #FF7F7F;
  border-radius: 4px;
  padding: 4px 10px;
  line-height: 1;
}

#timeContainer {
  display: none;
  margin-bottom: 20px;
}

.active {
  display: flex;
}

#timeContainer span {
  border: 1px solid #333333; /* Ensures a consistent border style */
  border-radius: 4px; /* Optional: Adds rounded corners to inputs */
  font: 600 48px sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 8px 0;
}

.menu-block {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
  border-right: 1px solid #333333;/* Ensures a consistent border style */
  border-radius: 0 0 4px 4px;
  margin: 0 auto;
  padding: 0;
  background-color: #222222;
}

.menu-block ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0;
}
.menu-block li {
}
.menu-block li a {
  background-color: transparent;
  font: 600 20px sans-serif;
  text-decoration: none;
}
